body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

/* Generic style tweaking */
h1 {
    margin-bottom: 20px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Front page list styles */
.number-of-answers {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #606060;
}

.number-of-votes {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #606060;
}

.number-title {
    padding-top: 4px;
    font-size: 1.15em;
    font-weight: bold;
    color: #317eac;
    text-align: center;
}

.frontpage-question {
    margin-bottom: 10px;
}

.frontpage-question .question {
    font-size:1.3em;
    font-weight:bold;
}

.frontpage-new-question {
    margin-top: 30px;
}