@{
    ViewBag.Title = "Current questions";
}

<header>
    <h1>Current questions <small class="hidden-phone">What are people asking right now?</small></h1>
</header>

<section id="currentQuestions">
    <div class="row">
        <div class="span8">
            
            <div class="row frontpage-question">
                <div class="span1 hidden-phone">
                    <div class="number-of-answers">4</div>
                    <div class="number-title">answers</div>
                </div>
                <div class="span1 hidden-phone">
                    <div class="number-of-votes">12</div>
                    <div class="number-title">votes</div>
                </div>
                <div class="span6">
                    <div class="text"><a href="/Home/Question/1">Vilken musik kodar du helst till?</a></div>
                    <div class="pull-right">Asked by CodingInsomnia</div>
                </div>
            </div>
            
            <div class="row frontpage-new-question">
                <div class="span6">
                    <form class="form-horizontal">
                        <input type="text" class="input-large" placeholder="New question" />
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        /// <reference path="~/Scripts/app/model.questions.js"/>

    </script>
}
