@model dynamic

@{
    ViewBag.Title = "Question";
}

<header>
    <h1 data-bind="text: questionText"></h1>
</header>
<h2>Answers</h2>
<div class="row">
    <div class="span8" data-bind="foreach: answers">

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info" data-bind="click: vote">Vote</button>
            </div>
            <div class="span1 number-of-votes" data-bind="text: votes"></div>
            <div class="span6 text">
                <a href="#" data-bind="text: answerText"></a>
            </div>
        </div>
    </div>
</div>
        
<div class="row">
    <div class="offset2 span8">
        <form action="#" data-bind="submit: addAnswer">
            <input type="text" class="input-large" data-bind="value: newAnswerText"/>
            <input type="submit" class="btn btn-primary" value="New answer"/>
        </form>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        
        function AnswerViewModel(model) {
            var self = this;

            self.answerText = model.text;
            self.votes = ko.observable(model.votes);

            self.vote = function () {
                self.votes(self.votes() + 1);
            };
        }

        function QuestionViewModel(model) {
            var self = this;

            self.questionText = model.text;
            self.answers = ko.observableArray($.map(model.answers, function(el) { return new AnswerViewModel(el); }));

            self.newAnswerText = ko.observable();

            self.addAnswer = function() {
                self.answers.push(new AnswerViewModel({ text: self.newAnswerText(), votes: 1 }));
                self.newAnswerText('');
            };
        }

        var questionModel = {
            text: 'Var ska vi träffas på nästa #kodkaffe?',
            answers: [
                { text: 'Le Café (Centralen)', votes: 7 },
                { text: 'EspressoHouse', votes: 4 },
                { text: 'Le Café (Stureplan)', votes: 3 },
                { text: 'Hemma hos Cecilia', votes: 4 }
            ]
        };
        
        var mainViewModel = new QuestionViewModel(questionModel);
        ko.applyBindings(mainViewModel);
    </script>
}
