@model dynamic

@{
    ViewBag.Title = "Question";
}
<!-- ko with: question -->
<header>
    <h1 data-bind="text: questionText"></h1>
</header>
<h2>Answers</h2>
<div class="row">
    <div class="span8" data-bind="foreach: answers">

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info" data-bind="click: vote">Vote</button>
            </div>
            <div class="span1 number-of-votes" data-bind="text: votes"></div>
            <div class="span6 text">
                <a href="#" data-bind="text: answerText"></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="offset2 span8">
        <form action="#" data-bind="submit: addAnswer">
            <input type="text" class="input-large" data-bind="value: newAnswerText"/>
            <input type="submit" class="btn btn-primary" value="New answer"/>
        </form>
    </div>
</div>
<!-- /ko -->

@section scripts
{
    <script type="text/javascript">

        function PageViewModel() {
            var self = this;

            self.question = ko.observable();

            self.hub = $.connection.questionHub;

            self.refresh = function() {
                QuickVoter.Questions.loadQuestion(@ViewBag.QuestionId)
                    .done(function (res) {
                        var questionViewModel = new QuestionViewModel(res);
                        self.question(questionViewModel);
                        self.hub.answerAdded = questionViewModel.answerAdded;
                        self.hub.votesUpdated = questionViewModel.votesUpdated;
                    });
            };

            self.refresh();
        }
        
        $.connection.hub.logging = true;
        $.connection.hub.start();
        var pageViewModel = new PageViewModel();
        ko.applyBindings(pageViewModel);
    </script>
}
