@model dynamic

@{
    ViewBag.Title = "Question";
}

<header>
    <h1>Vilken musik lyssnar du helst på när du kodar?</h1>
</header>
<div class="row">
    <div class="span8 well">

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info">Vote</button>
            </div>
            <div class="span1 number-of-votes">4</div>
            <div class="span6 text">
                <a href="#">Dubstep</a>
            </div>
        </div>

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info">Vote</button>
            </div>
            <div class="span1 number-of-votes">3</div>
            <div class="span6 text">
                <a href="#">Metal</a>
            </div>
        </div>

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info">Vote</button>
            </div>
            <div class="span1 number-of-votes">3</div>
            <div class="span6 text">
                <a href="#">Klassiskt</a>
            </div>
        </div>

        <div class="row answer">
            <div class="span1 actions">
                <button class="btn btn-small btn-info">Vote</button>
            </div>
            <div class="span1 number-of-votes">2</div>
            <div class="span6 text">
                <a href="#">Eurodisco</a>
            </div>
        </div>


        <div class="row">
            <div class="offset2 span6">
                <form class="form-horizontal">
                    <input type="text" class="input-large" placeholder="New answer" />
                    <input type="submit" class="btn btn-primary" value="Add" />
                </form>
            </div>
        </div>

    </div>

</div>


@section scripts
{
    <script type="text/javascript">

    </script>
}
